@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #d85448;
  --secondary-color: #a0383b;
  --accent-color: #fcdfdf;
  --accent-color-1: #f1f1f1;
  --primary-text: #e7e7ec;

  --main-header: 3.75rem;
  --side-header: 1.87rem;
}

body {
  overflow-x: hidden;
  font-family: "Monteserrat", sans-serif;
}

.custom-quill .ql-editor img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.custom-quill .ql-editor video {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
}

.procedure-content ol,
.procedure-content li,
.procedure-content p {
  line-height: 2.1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
